<h1>Créer un tournoi:</h1>
<form (submit)="submitNewTournois()">
    <div>
        <label>Nom du tournoi: </label>
        <input name="Nom" #nom="ngModel" [(ngModel)]="tournoi.nom" placeholder="Saisissez le nom du tournoi" required>
        <div *ngIf="nom.errors?.['required'] && (nom.dirty || nom.touched)">
            Le champs nom est requis
        </div>
    </div>

    <div>
        <label>Description du tournoi: </label>
        <input name="Description" #description="ngModel" [(ngModel)]="tournoi.description" placeholder="Saisissez la description du tournoi" required>
        <div *ngIf="description.errors?.['required'] && (description.dirty || description.touched)">
            Le champs description est requis
        </div>
    </div>

    <div>
        <label>Date de debut: </label>
        <input name="dateDebut" #dateDebut="ngModel" [(ngModel)]="tournoi.dateDebut" placeholder="Saisissez la date de debut du tournoi" required>
        <div *ngIf="dateDebut.errors?.['required'] && (dateDebut.dirty || dateDebut.touched)">
            Le champs date de debut est requis
        </div>
    </div>

    <div>
        <label>Date de fin: </label>
        <input name="dateFin" #dateFin="ngModel" [(ngModel)]="tournoi.dateFin" placeholder="Saisissez la date de fin du tournoi" required>
        <div *ngIf="dateFin.errors?.['required'] && (dateFin.dirty || dateFin.touched)">
            Le champs date de fin est requis
        </div>
    </div>

    <div>
        <label>Nombre de place: </label>
        <select name="nombreDePlace" #nPlace="ngModel" [(ngModel)]="tournoi.nombreDePlace" required>
            <option value=4>4</option>
            <option value=8>8</option>
            <option value=16>16</option>
        </select>
        <div *ngIf="nPlace.errors?.['required'] && (nPlace.dirty || nPlace.touched)">
            Le champs nombre de place est requis
        </div>
    </div>

    <div>
        <label>Le tournoi est-il gratuit?: </label>
        <input type="checkbox" name="estGratuit" [(ngModel)]="tournoi.estGratuit">
    </div>
    
    <div>
        <label>Organisateur: </label>
        <input name="organisateur" #organisateur="ngModel" [(ngModel)]="tournoi.organisateur[0]" placeholder="Saisissez le nom d'un organisateur">
    </div>
    
    <input type="submit" value="Changer Valeur">
    <input type="reset" value="Annuler">
</form>